.creatz {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.infoz {
  
}

.input2 {
  margin: 0 auto;
}

.welcome {
  font-size: 50px;
}

.addTeam {
  display: flex;
  gap: 5px;
}

.Add {
  border-radius: 5px;
}

.form_control {
  min-width: 100%;
}

/* .create_work {
  width: 100%;
}

.team {
  margin-top: 20px;
}

.btn_create_workspace {
  margin-top: 7%;
}

.infoz h1 {
  margin: 20px;
} */

.create {
  width: 90%;
}

.createWork {
  margin-top: 20px;
  position: relative;
  right: 25%;
}
