body {
  overflow: hidden;
}
.headz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form {
  width: 347px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.infoz {
    text-align: left;
}
.inputx {
    margin-top: 20px;
    color: #000;
    font-weight: bold;
    margin-left: 20px;
}

h1 {
  margin: 50px;
  height: 35px;
  font-family: 'lexand Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #224957;
}
h2 {
    font-family: 'lexand Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
p {
  height: 20px;
  font-family: 'lexand Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #224957;
}

.accountz {
  display: flex;
}

.linkz {
  color: #76b1a6;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 23px;
}

.signz {
  padding-left: 150px;
}

.titlez {
  color: #224957;
}
.creatz {
    display: flex;
}
.imagez {
  display: flex;
  width: 80%;
  height: 100vh;
}

@media screen and (max-width: 750px) {
 .creatz {
  width: 100%;
  display: flex;
 }
 .infoz {
  display: block;
  align-items: center;
  justify-content: center;
 }
 .infoz Header {
  width: 20px;
 }
 h2 {
  margin-top: 150px;
  height: 100px;
 }

  .imagez{
    display: block;
    width: 20%;
  }
  p {
    margin-bottom: 10px;
  }
}