.taskPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  min-height: 100vh;
  width: 100%;
}

.taskContain {
  align-items: center;
  background-color: #ffffff98;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  width: 90%;
}

